:80 {
	encode gzip

	request_body {
		max_size 263192576
	}

	header {
		-Server
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "camera=(), geolocation=(), microphone=()"
	}

	@api path /api/*
	handle @api {
		reverse_proxy backend:8080
	}

	handle {
		header Cache-Control "no-cache"
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
